*{
    margin: 0px;
    padding:0px;
}

body{
    width: 100%;
}

.container {
    width: 100%;
    height: auto;
}

h1 {
    width: 100%;
    display: block;
    margin: 20px auto;
    text-align: center;
}

h2 {
    display: block;
    margin: 50px auto 10px;
    text-align: center;
    border-bottom: 1px solid black;
}

h4 {
    width: 100%;
    display: block;
    margin: 20px auto;
    text-align: center;
}

h3 {
    width: 28%;
    display: inline-block;
    margin: 50px auto;
    text-align: center;
}

.dishes {
    font-size: 20px;
}


table.chefs {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px auto;
}

table.chefs td {
    text-align: center;
    color: red;
    margin: 0px auto;
    width: 24%;
}

table.chefs tr {
    outline: 1px solid black;
    margin: 0px auto;
    width: 24%;
}

.formBox {
    width: 40%;
    margin: 5px auto;
    border: 5px solid gray;
    display: inline-block'
}

.formBoxM {
    width: 40%;
    margin: 5px auto;
    display: inline-block'
}

.formBoxM span {
    display: block;
    text-align: center;
    color: red;
}

.formBox label, input, select, textarea {
    display: block;
    margin: 10px auto;
    text-align: center;
}

.formBox textarea {
    width: 237px;
    height: 100px;
}
